.mainContainer {

  background-color: #edf2f6;
}
.dektop-followbar{
  display: none;
}

@media (min-width: 720px) {
  .mainContainer {
    display: grid;
  grid-template-columns: 1fr 2.5fr 1fr;
  justify-content: center;
  gap: 20px;
  min-height:100vh ;
  max-height: fit-content;
  padding: 25px;
  }
  .mainContainer:last-child {
    grid-column-end: span 2;
  }
  .dektop-followbar{
    position: sticky;
    top: 15%;
    /* right: 1%; */
    display: block;
    height: fit-content;
    z-index: 2;
  }
}
