.mainContainer {

  background-color: #edf2f6;
}
.dektop-followbar{
  display: none;
}

@media (min-width: 720px) {
  .mainContainer {
    display: grid;
    grid-template-columns: 1fr 2.5fr 1fr;
    justify-content: center;
  }
  .dektop-followbar{
    position: sticky;
    top: 10%;
    /* right: 1%; */
    display: block;
    height: fit-content;
    z-index: 2;
  }
}
