.login-mainConatiner {
  position: relative;
  width: 100%;
}
.passwordIcon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.eyeIcon {
  position: absolute;
  color: black;
  right: 3%;
  top: 20%;
  font-size: larger;
}

.form-new-address {
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.login-page-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 2rem;
}
.headingName {
  color: blueviolet;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}
.innerContainer-login {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: center;
  border: 1px solid #22476d;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 300px;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.login-input {
  padding: 0.5rem;
  font-size: medium;
  margin-bottom: 0.8rem;
  width: 100%;
  max-width: 300px;
}
.login-btn {
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
  font-weight: 700;
  background-color: var(--primary);
  color: white;
  margin-bottom: 1rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.login-btn:hover {
  background-color: #22476d;
}
.loginAsGuest-btn {
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
  font-weight: 700;
  background-color: #42b72a;
  color: white;
  margin-bottom: 1rem;
  border: none;
  cursor: pointer;
}
.loginAsGuest-btn:hover {
  background-color: #2e7d1d;
}
.newAccount-btn {
  background-color: inherit;
  border: none;
  font-weight: 600;
  font-size: 1rem;
  color: rgb(54, 109, 109);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.newAccount-btn:hover {
  color: #42b72a;
}
.no-underline {
  text-decoration: none;
}
