.singlePost-MainContainer {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  align-items: flex-start;
  margin-top: 1rem;
  width: 100%;
}

.singlePost-MainContainer:hover {
  transform: translateY(-2px);
}

.single-profile-Username {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.single-profile-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.single-profile-userName {
  margin: 0;
  font-weight: bold;
  color: #333;
  font-size: 1rem;
}

.single-profile-date-time {
  margin: 0;
  color: #666;
  font-size: 0.9rem;
}

.text-comment-box {
  cursor: pointer;
  font-size: 1.2rem;
  margin: 0.5rem 0;
  color: #333;
  line-height: 1.4;
  padding-left: 3rem;
}

.btn-single-profile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content:space-around
}

.btn-like-single-profile {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  color: #999;
  cursor: pointer;
  transition: color 0.3s ease;
}

.btn-like-single-profile:hover {
  color: #ff3b3f;
}

.comment-box {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.single-profile-photo-comment {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 0.5rem;
  object-fit: cover;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.inner-comment-box {
  display: flex;
  gap: 0.5rem;
  flex: 1;
}

.single-profile-input-ccomment {
  flex: 1;
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  background-color: #f7f7f7;
  color: #333;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.post-btn-comment {
  padding: 0.5rem 1rem;
  background-color: var(--primary);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.post-btn-comment:hover {
  background-color: #e0292f;
}

.comments-added {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-top: 1rem;
}

.comments-add-by-user {
  flex: 1;
}

.flex-edit-delete {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.post-btn-comment.delete {
  background-color: #dc3545;
}

.flex-edit-delete {
  display: flex;
  flex-direction: column;
}

.flex--singlepost{
  display: flex;
}
.flex--singlepost-justify{
  display: flex;
  justify-content: space-between;
}
.singlepost-innerContainer{
  width: 100%;
}