.singlePost-MainContainer {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  align-items: flex-start;
  margin-bottom: 1rem;
  width: 100%;
  position: relative;
  outline: none;
  border: none;
}
.allComments {
  color: rgba(113, 113, 113, 0.88);
  margin-left: 1rem;
}

.single-profile-Username {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.single-profile-photo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.single-profile-userName {
  margin: 0;
  font-weight: bold;
  color: #333;
  font-size: 1rem;
}

.single-profile-date-time {
  margin: 0;
  color: #666;
  font-size: 0.9rem;
}

.text-comment-box {
  cursor: pointer;
  font-size: 1.2rem;
  margin: 0.5rem 0;
  color: #333;
  line-height: 1.4;
  padding-left: 1rem;
}

.btn-single-profile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: space-around;
  border-top: 2px solid #ccc;
  margin-bottom: 1rem;
  padding-top: 1rem;
  margin-top: 1rem;
}

.btn-like-single-profile {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  color: #333;
  cursor: pointer;
  transition: color 0.3s ease;
}

.btn-like-single-profile:hover {
  color: #ff3b3f;
}
.liked {
  color: red;
}
.comment-box {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.single-profile-photo-comment {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 0.5rem;
  object-fit: cover;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.inner-comment-box {
  display: flex;
  gap: 0.5rem;
  flex: 1;
}

.single-profile-input-ccomment {
  flex: 1;
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  background-color: #f7f7f7;
  color: #333;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.post-btn-comment {
  padding: 0.5rem 1rem;
  background-color: var(--primary);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.post-btn-comment:hover {
  background-color: #e0292f;
}
.flex-uploadimgg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.comments-added {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-top: 1rem;
}

.comments-add-by-user {
  flex: 1;
}

.flex-edit-delete {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  align-self: flex-start;
  padding-left: 0.6rem;
}

.post-btn-comment.delete {
  background-color: #dc3545;
}

.flex-edit-delete {
  display: flex;
  flex-direction: column;
}

.flex--singlepost {
  display: flex;
}
.flex--singlepost-justify {
  display: flex;
  justify-content: space-between;
}
.singlepost-innerContainer {
  width: 100%;
}

.post-btn-comment {
  margin-right: 10px;
}

.setting {
  position: relative;
}

.setting-icon {
  cursor: pointer;
  font-size: 1.5rem;
  color: #333;
}

.setting-icon:hover {
  color: black;
  background-color: rgba(94, 96, 101, 0.064);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.main-img {
  display: block;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  object-fit: contain;
  max-height: 23.5rem;
}

.btn-postEdit {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 0;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  gap: 0.5rem;
}

.single-profile-userId {
  color: gray;
  font-size: 0.9rem;
}

.post-delete,
.post-edit {
  padding: 0.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #333;
  transition: color 0.3s ease;
}

.post-delete:hover,
.post-edit:hover {
  color: red;
}

.icon {
  cursor: pointer;
  font-size: 1.2rem;
  transition: transform 0.3s ease;
}

.comments-added {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  background-color: #e9e9e9;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.comments-added:hover {
  background-color: #afb2bb;
}

.single-profile-photo-comment {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.comments-add-by-user {
  display: flex;
  flex-direction: column;
}

.deleteFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.comment-text {
  margin: 0;
}

.delete-icon {
  margin-left: 10px;
  color: #ff0000;
  cursor: pointer;
  transition: color 0.3s ease;
}

.delete-icon:hover {
  color: #990000;
}
