.editMainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #33333336;
}

.infoEditContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.infoEdit {
  display: flex;
}

.editInnerConatainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: var(--secondary);
  z-index: 222;
  /* border: solid; */
  max-width: 28rem;
  top: 12%;
  position: fixed;
  border-radius: 8px;
  padding-top: 16rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /*max-height: fit-content;
  */
  height: 85vh;
  overflow-y: scroll;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.editInnerConatainer::-webkit-scrollbar {
  width: 6px;
  background-color: white;
}

.editInnerConatainer::-webkit-scrollbar-thumb {
  background-color: #1e293b;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.editInnerConatainer::-webkit-scrollbar-thumb:hover {
  background-color: #1e293b;
}

.updateBtn {
  padding: 0.4rem 1rem;
  background-color: #312d7a;
  color: white;
  margin: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.editPost-input {
  width: 70%;
  height: 100px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.cross-icon {
  position: absolute;
  right: 0%;
  top: 1%;
  font-size: 1.5rem;
}
.editPost-input:focus {
  outline: none;
  border-color: #4d90fe;
  box-shadow: 0 0 0 2px rgba(77, 144, 254, 0.2);
}

.editPost-input::placeholder {
  color: #999;
}

.editPost-input:focus {
  border-color: #66afe9;
  outline: none;
  box-shadow: 0 2px 4px rgba(102, 175, 233, 0.6);
}

.labelUpdateProfile {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.updateConatiner {
  width: 80%;
}
.inputUpdate {
  display: flex;
  justify-content: space-between;
}
.updateAvatar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem;
}
.imgAvatar {
  border: 2px solid var(--secondary);
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  transition: border-color 0.3s ease;
}
.imgAvatar img {
  width: 70px;
  height: 70px;
  object-fit: cover;
}
.imgAvatar:hover,
.imgAvatarSelected {
  border-color: gold;
}
.inputp {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
  width: 70%;
  margin-top: 0.5rem;
  box-sizing: border-box;
  /* margin-left: 2rem; */
}

.inputp:focus {
  outline: none;
  border-color: #4caf50;
}

.inputp::placeholder {
  color: #999;
}

.avatarinfo {
  font-weight: bold;
  font-size: 20px;
  color: #333;
  text-align: center;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}
textarea {
  margin-top: 0px;
}

.input-file-container {
  display: flex;
  align-items: center;
}

.profile-text {
  font-size: 18px;
  margin-right: 10px;
}

.btn-upload {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.edit-profile-icon {
  display: block;
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
}

.edit-profile-camera-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
}

.edit-profile-camera-icon svg {
  color: #333;
  font-size: 20px;
}

#file-upload {
  display: none;
}

.btn-edit-profile-div {
  display: flex;
  justify-content: space-evenly;
}
.updateBtn:hover {
  background-color: var(--primary);
}

.anyProfileInner {
  margin-top: 3rem;
}
