.ShowFollowing-mainContainer {
  position: fixed;
  border: none;
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  height: fit-content;
  z-index: 2333;
  padding: 0.5rem;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.followingUser {
  display: flex;
  justify-content: space-between;
  padding: 0.3rem;
}
.followingUser:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.closeFollowingCross {
  align-self: flex-end;
}

.headingFollowing {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  padding: 1rem;
}
.divheadingBox {
  border-bottom: 1px solid lightslategray;
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
  justify-content: space-between;
}

.ShowFollowing-innerContainer {
  overflow-y: scroll;
  min-height: fit-content;
  max-height: 50vh;
}

.ShowFollowing-innerContainer::-webkit-scrollbar {
  width: 4px;
}

.ShowFollowing-innerContainer::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 5px;
}

.ShowFollowing-innerContainer::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary);
}
.closeButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: larger;
}

.closeButton:hover {
  color: red;
}
