

.home {
  background-color: #edf2f6;
  height: fit-content;
  padding-top: 1rem;
}

.home-input-box {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  font-size: larger;
}
.addPost {
  padding: 0.5rem;
  padding-left: 2.5rem;
  width: 98%;
  font-size: 1.1rem;
  border: none;
  border-radius: 0.4rem;
  /* border-bottom: 2px solid var(--primary); */
}

.cgProfile-input-post {
  font-size: larger;
  background-color: white;
  border: none;
  /* color: var(--primary); */
  position: absolute;
  left: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
}

.profile-logo-input {
  /* background-color: var(--primary); */

  border: none;
  border-radius: 50%;
  color: var(--primary);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  outline: none;
}
.plus-logo-input {
  font-size: larger;
  background-color: white;
  border: none;
  color: var(--primary);
  position: absolute;
  right: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.plus-logo-input:hover {
  box-shadow: 0px 2px 4px rgba(86, 175, 234, 0.7);
  border-radius: 1rem;

}

.trend-latest {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.btn-TL {
  width: 50%;
  padding: 0.5rem;
  margin-top: 1rem;
  background-color: white;
  border: none;
  border-radius: 18px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: 500;
  color:#8e44ad;
}

.btn-TL:hover {
  background-color: #f5f5f5;
  color:#8e44ad;
  box-shadow: 0px 2px 4px rgba(86, 175, 234, 0.7);
}

.trending-btn {
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
}

.latest-btn {
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
}

.btn-L {
  border: none;
  /* border-right: 2px solid black; */
}

.trending-btn svg,
.latest-btn svg {
  margin-right: 0.5rem;
  font-size: 1.2rem;
}
.trendingPhotosHeading{
  color:#8e44ad;
  box-shadow: none;
  padding-top: 0;
  margin: 0;
}

.follow-bar {
  display: block; 
}

.bgColor{
  background-color: #cccccc15;
  box-shadow: 0px 2px 4px rgba(86, 175, 234, 0.7);
}
@media (min-width: 1020px) {
  .followbar-mobile{
    display: none;
  }
  
  .home {
    display: flex;
    flex-direction: column;
    margin: 1rem;
  }
  .follow-bar {
    display: none; /* Hide the FollowBar component */
  }
}
