nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0B2239;
    height: 10vh;
    text-align: center;
    color: white;
}

.nav-heading{
    font-weight: bolder;
    font-size: larger;
    padding-top: 0.8rem;
    font-family:  cursive;
}
.nav-logo{
    /* position: absolute; */
    left: 24%;
}