/* .searchBox {
  width: 100%;
  position: relative;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:0.5rem ;
  border: none;
}
.searchInput {
  padding: 0.5rem;
  width: 100%;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  border: 2px solid var(--primary);
  outline:none;
}

.searchButton {
    display: inline-block;
  position: absolute;
  right: 18%;
  font-size: large;
  color: black;
  border: none;
  padding-top: 0.4rem;
  border-radius: 50%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  
}

@media (min-width:720px){
    .searchBox {
        width:50%;
    }
    .searchInput {
        width: 100%;

    }
    .searchButton{
        right: 8%;
    }
} */
/* .searchBox {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  padding: 5px;
}

.searchInput {
  border: none;
  outline: none;
  flex: 1;
  padding: 10px;
}

.searchButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1da1f2;
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.searchButton:hover {
  background-color: #0d8ed4;
} */

.searchBox {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  padding: 5px;
  height: 40px;
  max-width: 300px;
}

.searchInput {
  border: none;
  outline: none;
  flex: 1;
  padding: 5px;
}

.searchButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1da1f2;
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.searchButton:hover {
  background-color: #0d8ed4;
}
