
  .Menubar {
    position: fixed;
    bottom: 0;
    top: auto;
    background-color: #0b2239;
    color: white;
    width: 100%;
    z-index: 2;

  }

.Menubar-list {
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
}
.Menubar-list-item {
  cursor: pointer;
  display: flex;
  font-size: x-large;
  align-items: center;
}
.Menubar-list-item:hover {
  cursor: pointer;
  color: aqua;
}
.item-name {
  display: none;
}
.navlink-MenuBar{
  text-decoration: none;
  color: white;
}
.hideBox{
  display: none;
}
@media (min-width: 1020px) {
  .Menubar {
    background-color: #edf2f6;
    position: relative;
    /* width: 50%; */
    color: #0b2239;
    /* height: 100vh; */
    position: sticky;
    top: 17%;
    z-index: 1;
    /* margin-top: 3rem; */
    padding-top: 2rem;
  }
  .Menubar-list {
    display: flex;
    flex-direction: column;
    height: 60vh;
    padding-left: 5rem;
    align-items: flex-start;
    flex-wrap: wrap;
    white-space: nowrap;
    /* position: fixed; */
  }
  .item-name {
    display: inline-block;
    padding-left: 0.5rem;
  }
  .item-name:hover {
    color: #8e44ad
  }
  .Menubar-list-item {
    display: flex;
    font-size: large;
  }
  .Menubar-list-item:hover {
    cursor: pointer;
  /* color: gray; */
  }
  .navlink-MenuBar{
    text-decoration: none;
    color: #0b2239;
  }
  .navlink-MenuBar:hover{
    text-decoration: none;
    color: #8e44ad
  }
  .MenuBarProfile{
    display: flex;
    color: #8e44ad;
    /* align-items: flex-end; */
    position: fixed;
    bottom: 5%;
  }
  .smaller{
    font-size: 0.8rem;
  }
}
