
  .Menubar {
    position: fixed;
    bottom: 0;
    top: auto;
    background-color: #0b2239;
    color: white;
    width: 100%;
    z-index: 2;
  }

.Menubar-list {
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
}
.Menubar-list-item {
  cursor: pointer;
  display: flex;
  font-size: x-large;
  align-items: center;
}
.Menubar-list-item:hover {
  cursor: pointer;
  color: aqua;
}
.item-name {
  display: none;
}
.navlink-MenuBar{
  text-decoration: none;
  color: white;
}
@media (min-width: 720px) {
  .Menubar {
    background-color: #edf2f6;
    position: relative;
    /* width: 50%; */
    color: #0b2239;
    /* height: 100vh; */
    position: sticky;
    top: 10%;
    /* z-index: 10; */
    /* margin-top: 3rem; */
    padding-top: 2rem;
  }
  .Menubar-list {
    display: flex;
    flex-direction: column;
    height: 60vh;
    padding-left: 5rem;
    align-items: flex-start;
    flex-wrap: wrap;
    white-space: nowrap;
  }
  .item-name {
    display: inline-block;
    padding-left: 0.5rem;
  }
  .Menubar-list-item {
    display: flex;
    font-size: large;
  }
  .navlink-MenuBar{
    text-decoration: none;
    color: #0b2239;
  }
}
