.bookmarke-heading {
    color: #45454585;
    margin-bottom: 1rem;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  
  @media (min-width: 1024px) {
    .bookmarke-heading {
      margin-top: -1rem;
    }
  }
  