.bookmarke-heading {
  display: inline-block;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 2rem;
  padding-left: 1rem;
  margin-bottom: 1rem;
  color: var(--primary);
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media (min-width: 1024px) {
  .bookmarke-heading {
    display: inline-block;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 2rem;
    margin-bottom: 1rem;
    color: var(--primary);
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}
