.size-2{
    font-size:x-large;
}
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}

.space-between{
    justify-content: space-between;
}
.margin-top-1{
    margin-top: 0.5rem;
}