.user-follow-name{
  width: max-content;
}

.FollowBar {
  
  display: flex;
  flex-direction: column;
  padding-top: 6rem;
  padding: 0.6rem;

  
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;

  overflow-x: auto;
 
}
.FollowBar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.FollowBar::-webkit-scrollbar-track {
  border-radius: 0;
  background: #eeeeee;
}

.FollowBar::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: var(--primary);
}

.followbar-heading {
  margin-bottom: 0.8rem;
  font-weight: 500;
  font-size: large;
  text-align: center;
  display: none;
}

.profileImg {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.followBar-list{
  display: flex;
  
}
.followBar-list-item {
  display: flex;
  flex-direction: row;
  /* flex-direction: column; */
  padding-left: 1rem;
}

.profile-follow {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding-top: 0.8rem;
  justify-content: center;
  align-items: center;
  margin-top: 0.4rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 0.8rem;
  padding: 1rem;
}
.btn-follow {
  background-color: #312d7a;
  border: none;
  padding: 0.6rem;
  margin-top: 0.4rem;
  /* margin-left: 0.8rem; */
  border-radius: 0.9rem;
  -webkit-border-radius: 0.9rem;
  -moz-border-radius: 0.9rem;
  -ms-border-radius: 0.9rem;
  -o-border-radius: 0.9rem;
  color: white;
}
.userId {
  font-size: small;
  color: lightcoral;
}

@media (min-width: 1020px) {
  .FollowBar {
    height: 52vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    background-color: #f8f8f8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 0.6rem;
    margin-top: 1rem;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--primary) #eeeeee;
    overflow-x:hidden;;
 
  }

  .followBar-list {
 
    flex-direction: column;
    gap: 1rem;
  }

  .followbar-heading {
    display: inline;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;

    margin-bottom: 1rem;
    color: var(--primary);
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .profileImg {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
  }

  .followBar-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .profile-follow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 0.8rem;
    padding: 0.4rem;
    width: 100%;
    transition: all 0.3s ease;
    flex-direction: row;
    -webkit-border-radius: 0.8rem;
    -moz-border-radius: 0.8rem;
    -ms-border-radius: 0.8rem;
    -o-border-radius: 0.8rem;
}

  .profile-follow:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }

  .btn-follow {
    background-color: #312d7a;
    color: white;
    border: none;
    padding: 0.6rem 1.2rem;
    margin-top: 0.1rem;
    margin-left: 0.8rem;
    border-radius: 0.9rem;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .btn-follow:hover {
    background-color: #241f61;
  }

  .userId {
    font-size: 0.8rem;
    color: lightcoral;
    margin-left: 0.5rem;
  }
  .main-followbar{
    padding-top: 3rem;
  }
  .FollowBar-lowHeight{
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    background-color: #f8f8f8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 0.6rem;
    margin-top: 1rem;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--primary) #eeeeee;
  }
  
  .followBar-list-item:hover .profileImg{
    border: 2px solid #aaa7a7;
  
  }
}
